<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks51team03.funeral.serviceList.mapper.ServiceListMapper">
    <resultMap type="ks51team03.funeral.serviceList.dto.ServiceListDto" id="getServiceListMap">
        <id         column="fscode"         property="funeralserviceCode"/>
        <result     column="ccode"          property="funeralserviceCcode"/>
        <result     column="fs_title"       property="funeralserviceTitle"/>
        <result     column="fs_price"       property="funeralservicePrice"/>
        <result     column="fs_comment"     property="funeralserviceComment"/>
        <result     column="fs_weight"      property="funeralserviceWeight"/>
        <result     column="id"             property="funeralserviceId"/>
        <result     column="fs_reg_date"    property="funeralserviceRegDate"/>
        <result     column="fs_state"       property="funeralserviceState"/>
    </resultMap>

    <resultMap id="getFureralReserve" type="ks51team03.funeral.reserve.dto.ReserveDto">
        <id         column="frcode"             property="reserveCode"/>
        <result     column="ccode"              property="reserveCompanyCode"/>
        <result     column="fscode"             property="reserveServiceCode"/>
        <result     column="id"                 property="reserveId"/>
        <result     column="fr_start_date"      property="reserveStartDate"/>
        <result     column="fr_end_date"        property="reserveEndDate"/>
        <result     column="fr_phone"           property="reservePhone"/>
        <result     column="fr_payment"         property="reservePayment"/>
        <result     column="fr_confirm"         property="reserveConfirm"/>
        <result     column="fr_reg_date"        property="reserveRegDate"/>
        <result     column="fr_reserve_time"    property="reserveTime"/>
    </resultMap>

    <resultMap id="getCompanyInfo" type="ks51team03.funeral.serviceList.dto.FuneralCompanyImgDto">
        <id 	column="ccode"              property="companyCode" />
        <result column="com_class"          property="companyClass" />
        <result column="com_name"           property="companyName" />
        <result column="com_ceo"            property="companyCeo" />
        <result column="com_addr"           property="companyAddr" />
        <result column="com_phone"          property="companyPhone" />
        <result column="com_stfcount"       property="companyStfCount" />
        <result column="com_email"          property="companyEmail" />
        <result column="com_reg_date"       property="companyRegDate" />
        <result column="id"                 property="memberId" />
        <result column="file_idx"           property="fileIdx" />
        <result column="file_path"          property="filePath" />
    </resultMap>

    <resultMap id="getCompanyInfoModify" type="ks51team03.company.dto.Company">
        <id 	column="ccode"              property="companyCode" />
        <result column="com_class"          property="companyClass" />
        <result column="com_name"           property="companyName" />
        <result column="com_ceo"            property="companyCeo" />
        <result column="com_addr"           property="companyAddr" />
        <result column="com_phone"          property="companyPhone" />
        <result column="com_stfcount"       property="companyStfCount" />
        <result column="com_email"          property="companyEmail" />
        <result column="com_reg_date"       property="companyRegDate" />
        <result column="id"                 property="memberId" />
    </resultMap>

    <resultMap id="getMemberPet" type="ks51team03.funeral.reserve.dto.ReserveMemberPet">
        <id         column="id"                property="memberId"/>
        <result     column="name"              property="memberName"/>
        <result     column="level"             property="memberLevel"/>
        <result     column="level_name"        property="memberLevelName"/>
        <result     column="phone"             property="memberPhone"/>
        <result     column="email"             property="memberEmail"/>
        <result     column="pcode"             property="petCode"/>
        <result     column="p_name"            property="petName"/>
        <result     column="p_weight"          property="petWeight"/>
    </resultMap>

    <resultMap id="getServiceImgResultMap" type="ks51team03.funeral.serviceList.dto.ServiceImgDto">
        <id column="fsicode" property="fsicode"/>
        <result column="ccode" property="ccode"/>
        <result column="fscode" property="fscode"/>
        <result column="file_idx" property="fileIdx"/>
        <result column="file_cate" property="fileCate"/>
        <result column="file_origin_name" property="fileOriginName" />
        <result column="file_new_name" property="fileNewName" />
        <result column="file_path" property="filePath" />
        <result column="file_size" property="fileSize" />
        <result column="file_reg_date" property="fileRegDate" />
    </resultMap>

    <!-- 장례 서비스 전체 조회 -->
    <select id="getServiceListDto" resultMap="getServiceListMap">
        SELECT
        fs.fscode,
        fs.ccode,
        fs.fs_title,
        fs.fs_price,
        fs.fs_weight,
        fs.id,
        fs.fs_reg_date,
        fs.fs_state
        FROM
        funeral_service AS fs
    </select>

    <!-- 장례 서비스 전체 조회 -->
    <select id="getServiceInfoByCode" parameterType="String" resultMap="getServiceListMap">
        /* 장례 업체별 장례 서비스 정보*/
        SELECT
        fs.fscode,
        fs.ccode,
        fs.fs_title,
        fs.fs_price,
        fs_comment,
        fs.fs_weight,
        fs.id,
        fs.fs_reg_date,
        fs.fs_state
        FROM
        funeral_service AS fs
        where
        fs.ccode = #{funeralserviceCcode};
    </select>

    <insert id="funeralReserve" parameterType="Map" >
        /* 장례 예약 */
        INSERT INTO funeral_reserve
        (   frcode,
        ccode,
        fscode,
        id,
        fr_start_date,
        fr_end_date,
        fr_phone,
        fr_payment,
        fr_confirm,
        fr_reg_date,
        fr_reserve_time)

        VALUES (
        #{reserveCode},
        #{reserveCompanyCode},
        #{reserveServiceCode},
        #{reserveId},
        #{reserveStartDate},
        #{reserveEndDate},
        #{reservePhone},
        '결제 전',
        '예약 완료',
        NOW(),
        #{reserveTime}
        )

    </insert>

    <!-- 장례 서비스 등록시 회사 정보 확인 -->
    <select id="getCompanyInfo" resultMap="getCompanyInfoModify">
        /* 장례 업체 정보 */
        SELECT
        c.ccode,
        c.com_class,
        c.com_name,
        c.com_ceo,
        c.com_addr,
        c.com_phone,
        c.com_stfcount,
        c.id,
        c.com_parking,
        c.com_reg_date
        FROM
        company AS c
        WHERE
        c.id = #{memberId}
    </select>

    <insert id="insertFuneralService" parameterType="Map">
        <selectKey keyProperty="funeralserviceCode" resultType="String" order="BEFORE">
            /* 장례 서비스 등록을 위한 fscode 조회*/
            SELECT
            CASE
            WHEN COUNT(fscode) = 0 THEN 'fs1'
            ELSE
            CONCAT(
            'fs',
            LPAD(MAX(CAST(SUBSTRING(fscode, 3) AS UNSIGNED))+1, 3, '0')
            )
            END AS funeralserviceCode
            FROM
            funeral_service;
        </selectKey>
        /* 장례 서비스 등록 insert문*/
        INSERT INTO funeral_service (
        fscode,
        ccode,
        fs_title,
        fs_comment,
        fs_price,
        fs_weight,
        id,
        fs_reg_date,
        fs_state
        ) VALUES (
        #{funeralserviceCode},
        #{funeralserviceCcode},
        #{funeralserviceTitle},
        #{funeralserviceComment},
        #{funeralservicePrice},
        #{funeralserviceWeight},
        #{funeralserviceId},
        CURDATE(),
        '활성화'
        );
    </insert>

    <select id="getServiceList" resultMap="getServiceListMap">
        /* 업체별 등록된 장례 서비스 리스트*/
        SELECT
            fscode,
            ccode,
            fs_title,
            fs_price,
            fs_comment,
            fs_weight,
            id,
            fs_reg_date,
            fs_state
            FROM
            funeral_service
        WHERE
        id = #{funeralserviceId}
    </select>

    <!-- 장례 서비스 노출을 위한 회사 정보 가져오기 -->
    <select id="getCompanyInfoList" resultMap="getCompanyInfo">
        /* 장례 서비스 노출을 위한 회사 정보 select문*/
        SELECT
        c.ccode,
        c.com_class,
        c.com_name,
        c.com_ceo,
        c.com_addr,
        c.com_phone,
        c.com_stfcount,
        c.id,
        c.com_reg_date,
        f.file_path,
        f.file_idx
        FROM
        company AS c
        INNER join
        company_img AS ci
        ON
        c.ccode = ci.ccode
        INNER join
        files AS f
        on
        ci.file_idx = f.file_idx
        where
        c.com_class like '%장례%'
    </select>

    <!-- 장례 예약 시 반려동물 정보 가져오기 위한 코드 -->
    <select id="getMemberPet" resultMap="getMemberPet">
        /* 예약시 반려동물 가져오기 위한 select문*/
        SELECT
        p.p_name,
        m.id,
        m.name
        FROM
        member AS m
        INNER join
        pet AS p
        on
        m.id = p.id
        where
        m.id = #{memberId}
    </select>

    <insert id="insertFuneralServiceImg" parameterType="Map">
        <selectKey keyProperty="fsicode" resultType="String" order="BEFORE">
            SELECT
            CASE
            WHEN COUNT(*) = 0 THEN 'fsi1'
            ELSE CONCAT('fsi', MAX(CAST(SUBSTRING(fsicode, 4) AS UNSIGNED)) + 1)
            END
            FROM funeral_service_img
        </selectKey>
        -- 장례 서비스 이미지 등록
        INSERT INTO funeral_service_img
        (fsicode, ccode, fscode, file_idx, file_cate)
        VALUES (#{fsicode}, #{ccode}, #{fscode}, #{fileIdx}, '장례 예약')
    </insert>



    <!-- 장례 서비스 수정 -->
    <select id="modifyServiceInfoByCode" parameterType="String" resultMap="getServiceListMap">
        /* 등록된 장례 서비스 수정을 위한 select문 */
        SELECT
        fs.fscode,
        fs.ccode,
        fs.fs_title,
        fs.fs_price,
        fs_comment,
        fs.fs_weight,
        fs.id,
        fs.fs_reg_date,
        fs.fs_state
        FROM
        funeral_service AS fs
        where
        fs.fscode = #{funeralserviceCode};
    </select>

    <update id="updateServiceInfo" parameterType="ks51team03.funeral.serviceList.dto.ServiceListDto">
        /* 등록된 장례 서비스 수정 */
        UPDATE
            funeral_service
        SET
        fs_title = #{funeralserviceTitle},
        fs_comment = #{funeralserviceComment},
        fs_price = #{funeralservicePrice},
        fs_weight = #{funeralserviceWeight},
        fs_state = #{funeralserviceState}
        WHERE
        fscode = #{funeralserviceCode}
    </update>

    <!-- 기존 이미지 정보 가져오기 -->
    <select id="getServiceImg" resultMap="getServiceImgResultMap" parameterType="map">
        /* 기존 이미지 정보 가져오는 select문 */
        SELECT
        fsi.fsicode,
        fsi.ccode,
        fsi.fscode,
        fsi.file_idx,
        fsi.file_cate,
        f.file_origin_name,
        f.file_new_name,
        f.file_path,
        f.file_size,
        f.file_reg_date
        FROM
        funeral_service_img fsi
        INNER JOIN
        files f ON fsi.file_idx = f.file_idx
        WHERE
        fsi.fscode = #{fscode} AND fsi.ccode = #{ccode}
    </select>

    <!-- 기존 파일을 삭제하는 쿼리 -->
    <delete id="deleteServiceImg" parameterType="ks51team03.funeral.serviceList.dto.ServiceImgDto">
        /* 기존 이미지 파일 삭제하는 delete문 */
        DELETE FROM funeral_service_img
        WHERE fscode = #{fscode} AND ccode = #{ccode}
    </delete>

    <select id="getServiceImgs" resultMap="getServiceImgResultMap" parameterType="map">
        /* 장례 업체별 등록된 이미지를 가져오기 위한 select문 */
        SELECT
        fsi.fsicode,
        fsi.ccode,
        fsi.fscode,
        fsi.file_idx,
        fsi.file_cate,
        f.file_origin_name,
        f.file_new_name,
        f.file_path,
        f.file_size,
        f.file_reg_date
        FROM
        funeral_service_img fsi
        INNER JOIN files f ON fsi.file_idx = f.file_idx
        WHERE
        fsi.fscode IN
        <foreach item="fscode" collection="fscodeList" open="(" separator="," close=")">
            #{fscode}
        </foreach>
        AND fsi.ccode = #{ccode}
    </select>



</mapper>