<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks51team03.funeral.serviceList.mapper.ServiceListMapper">
    <resultMap type="ks51team03.funeral.serviceList.dto.ServiceListDto" id="getServiceListMap">
        <id         column="fscode"         property="funeralserviceCode"/>
        <result     column="fs_title"       property="funeralserviceTitle"/>
        <result     column="fs_title"       property="funeralserviceTitle"/>
        <result     column="fs_price"       property="funeralservicePrice"/>
        <result     column="ccode"          property="funeralserviceCcode"/>
        <result     column="fs_reg_date"    property="funeralserviceRegDate"/>
        <result     column="fs_state"       property="funeralserviceState"/>
    </resultMap>

    <!-- 장례 서비스 전체 조회 -->
    <select id="getServiceListDto" resultMap="getServiceListMap">
        SELECT
            fs.fscode,
            fs.ccode,
            fs.fs_title,
            fs.fs_price,
            fs.fs_reg_date,
            fs.fs_state
        FROM
            funeral_service AS fs
    </select>

    <!-- 장례 서비스 전체 조회 -->
    <select id="getServiceInfoByCode" parameterType="String" resultMap="getServiceListMap">
        SELECT
            fs.fscode,
            fs.fs_title,
            fs.ccode,
            fs.fs_price,
            fs.fs_reg_date,
            fs.fs_state
        FROM
            funeral_service AS fs
        where
        fs.ccode = #{funeralserviceCcode};
    </select>

    <insert id="reserveDetail" parameterType="ServiceListDto">
        /* 회원 가입 */
        INSERT INTO funeral_reserve
        (   frcode,
            ccode,
            fscode,
            id,
            fr_start_date,
            fr_end_date,
            fr_phone,
            fr_payment,
            fr_confirm,
            fr_reg_date)
        VALUES (
                '',
                '',
                '',
                '',
                NOW(),
                NOW(),
                '',
                '',
                '예약 대기',
                NOW())

    </insert>


</mapper>