<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks51team03.funeral.reserve.mapper.ReserveMapper">
    <resultMap id="getFuneralReserve" type="ks51team03.funeral.reserve.dto.ReserveDto">
        <id         column="frcode"             property="reserveCode"/>
        <result     column="ccode"              property="reserveCompanyCode"/>
        <result     column="fscode"             property="reserveServiceCode"/>
        <result     column="id"                 property="reserveId"/>
        <result     column="fr_start_date"      property="reserveStartDate"/>
        <result     column="fr_end_date"        property="reserveEndDate"/>
        <result     column="fr_phone"           property="reservePhone"/>
        <result     column="fr_payment"         property="reservePayment"/>
        <result     column="fr_confirm"         property="reserveConfirm"/>
        <result     column="fr_reg_date"        property="reserveRegDate"/>
        <result     column="fr_reseve_time"     property="reserveTime"/>
    </resultMap>

    <resultMap id="getFuneralReserveInfo" type="ks51team03.funeral.reserve.dto.ReserveInfoDto">
        <id         column="id"                 property="reserveId"/>
        <result     column="name"               property="reserveName"/>
        <result     column="p_name"             property="reservePetName"/>
        <result     column="phone"              property="reservePhone"/>
        <result     column="email"              property="reserveEmail"/>
        <result     column="fr_reg_date"        property="reserveRegDate"/>

    </resultMap>

    <resultMap id="getFuneralReserveServiceInfo" type="ks51team03.funeral.reserve.dto.ReserveServiceInfoDto">
        <id         column="id"                 property="reserveId"/>
        <result     column="ccode"              property="reserveCompanyCode"/>
        <result     column="fscode"             property="reserveServiceCode"/>
        <result     column="fr_start_date"      property="reserveStartDate"/>
        <result     column="fr_end_date"        property="reserveEndDate"/>
        <result     column="fs_title"           property="funeralserviceTitle"/>
        <result     column="fs_price"           property="funeralservicePrice"/>
        <result     column="com_name"           property="companyName"/>
    </resultMap>

    <select id="getLastFuneralServiceCode" parameterType="String" resultType="String">
        SELECT Max(frcode) FROM funeral_reserve
    </select>

    <insert id="funeralReserve" parameterType="Map">
        <selectKey keyProperty="reserveCode" resultType="String" order="BEFORE">
            /* 상품 자동 증가 코드 */
            SELECT
            CASE
            WHEN COUNT(frcode) = 0 THEN 'fr1'
            ELSE
            CONCAT(
            'fr',
            LPAD(MAX(CAST(SUBSTRING_INDEX(frcode, 'fr', -1) AS UNSIGNED))+1, 3, '0')
            )
            END AS reserveCode
            FROM
            funeral_reserve;
        </selectKey>
        /* 장례 예약 */
        INSERT INTO funeral_reserve
        (   frcode,
            ccode,
            fscode,
            id,
            fr_start_date,
            fr_end_date,
            fr_phone,
            fr_payment,
            fr_confirm,
            fr_reg_date,
            fr_reserve_time)

        VALUES (
            #{reserveCode},
            #{reserveCompanyCode},
            #{reserveServiceCode},
            #{reserveId},
            #{reserveStartDate},
            #{reserveEndDate},
            #{reservePhone},
            '결제 전',
            '예약 대기',
            CURDATE(),
            #{reserveTime}
        )
    </insert>

    <!-- 장례 예약버튼 누른 후 인적사항 확인 -->
    <select id="funeralReserveInfo" resultMap="getFuneralReserveInfo">
        SELECT
        fr.id,
        p.p_name,
        m.name,
        m.phone,
        m.email,
        fr.fr_reg_date
        FROM
        funeral_reserve AS fr
        INNER join
        pet AS p
        ON
        p.id = fr.id
        INNER join
        member AS m
        on
        m.id = fr.id
        WHERE
        fr.id = #{reserveId}
        ORDER BY
        CAST(SUBSTRING(fr.frcode, 3) AS UNSIGNED) DESC
        LIMIT 1
    </select>

    <!-- 장례 예약버튼 누른 후 인적사항 확인 -->
    <select id="funeralReserveServiceInfo" resultMap="getFuneralReserveServiceInfo">
        SELECT
            fs.ccode,
            fs.fs_title,
            fs.fs_price,
            fr.fr_start_date,
            fr.fr_end_date,
            fr.id,
            c.com_name
        FROM
            funeral_reserve AS fr
            INNER join
            funeral_service AS fs
            ON
            fs.ccode = fr.ccode
            INNER join
            company AS c
            on
            fs.ccode = c.ccode
        WHERE
         fr.id = #{reserveId}
        ORDER BY
            fr.fr_reg_date desc
        LIMIT 1
    </select>

</mapper>