<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
</head>

<th:block layout:fragment="customContent">
    <!-- ====================================
    ——— ACCOUNT SETTINGS SECTION
    ===================================== -->
    <section class="py-12">
        <div class="container">
            <div class="bg-smoke p-2 p-md-6 pb-6 pb-md-8 mb-9 rounded">
                <div class="row" th:if="${paymentDetail != null}">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <h3 class="text-uppercase mb-3">결제 정보 상세 확인</h3>
                                    <p class="text-primary mb-0">회원 정보</p>
                                </div>

                                <form action="" method="">
                                    <div class="form-group mb-4">
                                        <p>회원 아이디 </p>
                                        <input type="text" class="form-control form-control-lg rounded border-0" readonly th:value="${paymentDetail.reserveId}">
                                    </div>

                                    <div class="form-group mb-4">
                                        <p>회원 성함 </p>
                                        <input type="text" class="form-control form-control-lg rounded border-0" readonly th:value="${paymentDetail.name}">
                                    </div>

                                    <div class="form-group mb-4">
                                        <p>반려동물 명 </p>
                                        <input type="text" class="form-control form-control-lg rounded border-0" readonly th:value="${paymentDetail.petName}">
                                    </div>

                                </form>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <p class="text-primary mb-0">장례 서비스</p>
                                </div>

                                <form action="" method="">
                                    <div class="form-group mb-4">
                                        <p>장례 업체 </p>
                                        <input type="text" class="form-control form-control-lg rounded border-0" readonly th:value="${paymentDetail.comName}">
                                    </div>

                                    <div class="form-group mb-4">
                                        <p>장례 서비스 </p>
                                        <input type="text" class="form-control form-control-lg rounded border-0" readonly th:value="${paymentDetail.fpName}">
                                    </div>

                                    <div class="form-group mb-4">
                                        <p>장례 서비스 예약일 </p>
                                        <input type="text" class="form-control form-control-lg rounded border-0" readonly th:value="${paymentDetail.getReserveStartDate()}">
                                    </div>

                                    <div class="pt-2">
                                        <button type="button" class="btn btn-primary text-uppercase font-size-15 px-2 px-md-6">장례 서비스 날짜 수정</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <p class="text-primary mb-0">결제 정보</p>
                                </div>

                                <form action="" method="">
                                    <div class="form-group mb-4">
                                        <p>결제 방법 </p>
                                        <input type="text" class="form-control form-control-lg rounded border-0" readonly th:value="${paymentDetail.fpMethod}">
                                    </div>

                                    <div class="form-group mb-4">
                                        <p>결제 금액 </p>
                                        <input type="text" class="form-control form-control-lg rounded border-0" readonly th:value="${paymentDetail.fpFinal}">
                                    </div>

                                    <div class="form-group mb-4">
                                        <p>결제일 </p>
                                        <input type="text" class="form-control form-control-lg rounded border-0" readonly th:value="${paymentDetail.fpPayDate}">
                                    </div>

                                    <div class="pt-2">
                                        <button type="button" class="btn btn-primary text-uppercase font-size-15 px-2 px-md-6">결제 취소</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>

</th:block>
<!-- 사용자정의 javascript file -->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자정의 javascript -->
<th:block layout:fragment="customJs">

</th:block>

</html>
