<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns=""
      layout:decorate="~{layout/default}">
<head>
    <style>
        .service-card {
            display: flex; /* Flexbox 사용 */
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            margin-bottom: 32px;
        }

        .service-card img {
            width: 40%; /* 이미지의 너비 설정 */
            height: auto;
        }

        .service-card-content {
            padding: 16px;
            width: 60%; /* 콘텐츠의 너비 설정 */
            display: flex;
            flex-direction: column; /* 세로 정렬 */
            justify-content: center; /* 중앙 정렬 */
        }

        .service-card h2, .service-card h3, .service-card p {
            margin-bottom: 8px;
        }

        .service-card h2 {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .service-card h3 {
            font-size: 1.25rem;
            color: #555;
        }

        .service-card p {
            font-size: 1rem;
            color: #777;
        }

        .service-card .label {
            font-weight: bold;
            color: #333;
        }

        .service-card-divider {
            border-top: 1px solid #ddd;
            margin: 16px 0;
        }
    </style>

</head>
<th:block layout:fragment="customContent">

    <div class="main-wrapper single-hotel-right-sidebar">
        <!-- ====================================
        ———	PACKAGES SECTION
        ===================================== -->
        <section class="py-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-4 order-2" style=" position: sticky; top: 140px; height: fit-content;">
                        <form id="funeralReserveForm" th:action="@{/funeral/funeral_service_detail}" method="POST">
                            <div class="card border">
                                <h2 class="card-header text-uppercase text-center bg-smoke border-bottom">
                                    반려 서비스 예약
                                </h2>

                                <div class="card-body px-3 py-4">
                                    <div class="border-bottom mb-5">
                                        <div class="form-group mb-5">
                                            <div class="row">
                                                <label for="inputTime" class="col-xl-5 col-form-label text-center text-xl-end px-2">반려 서비스 예약일:</label>

                                                <div class="col-xl-7">
                                                    <div class="form-group form-group-icon form-group-icon-category-2 mb-0">
                                                        <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                                        <input type="text" id="reserveStartDate" class="form-control daterange-picker-category-2" autocomplete="off" name="reserveStartDate" value=""
                                                               placeholder="MM/DD/YYYY">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-5">
                                            <div class="row">
                                                <label for="inputTime" class="col-xl-5 col-form-label text-center text-xl-end px-2">반려 서비스 종료일:</label>

                                                <div class="col-xl-7">
                                                    <div class="form-group form-group-icon form-group-icon-category-2 mb-0">
                                                        <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                                        <input type="text"  class="form-control daterange-picker-category-2" autocomplete="off" name="reserveEndDate" id="inputTime" value=""
                                                               placeholder="MM/DD/YYYY">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-5">
                                            <div class="row">
                                                <label for="inputTime" class="col-xl-5 col-form-label text-center text-xl-right px-2">Select a time
                                                    slot:</label>
                                                <div class="col-xl-7">
                                                    <div class="form-group mb-0">
                                                        <div class="select-default select-category-2 timer">
                                                            <select th:id="reserveTime" name="reserveTime" class="select-option">
                                                                <option value="09:00:00">9:00 AM</option>
                                                                <option value="10:00:00">10:00 AM</option>
                                                                <option value="11:00:00">11:00 AM</option>
                                                                <option value="12:00:00">12:00 PM</option>
                                                                <option value="13:00:00">13:00 PM</option>
                                                                <option value="14:00:00">14:00 PM</option>
                                                                <option value="15:00:00">15:00 PM</option>
                                                                <option value="16:00:00">16:00 PM</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-5">
                                            <div class="row">
                                                <label for="funeralserviceTitle" class="col-xl-5 col-form-label text-center text-xl-end px-2">반려 서비스 선택:</label>
                                                <div class="col-xl-7">
                                                    <div class="form-group mb-0">
                                                        <div class="select-default select-category-2">
                                                            <select id="funeralserviceTitle" name="reserveServiceCode"  class="select-option" onchange="updateTotalPrice()">
                                                                <option th:each="service : ${serviceListCcode}"
                                                                        th:value="${service.getFuneralserviceCode()}"
                                                                        th:text="${service.getFuneralserviceTitle()}"
                                                                        th:data-price="${service.getFuneralservicePrice()}"
                                                                        th:attr="data-ccode=${service.getFuneralserviceCcode()}"></option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-5">
                                            <div class="row align-items-center">
                                                <label class="control-label col-xl-5 text-center text-xl-end">참여인원:</label>

                                                <div class="col-xl-5">
                                                    <div class="count-input mx-auto">
                                                        <a class="incr-btn" data-action="decrease" href="javascript:void(0)">–</a>
                                                        <input class="quantity" type="number" value="1">
                                                        <a class="incr-btn" data-action="increase" href="javascript:void(0)">+</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between border-bottom mb-5 pb-5">
                                        <span class="text-uppercase h4 mb-0">전체 비용</span>
                                        <span class="font-weight-bold text-primary h3 mb-0" id="totalPrice" th:te>$0</span>
                                    </div>

                                    <input type="hidden" name="reserveCompanyCode" th:value="${reserveCompanyCode}" />

                                    <div class="d-grid text-center px-4">
                                        <button type="submit" class="btn btn-hover btn-lg btn-outline-secondary text-uppercase">
                                            예약 하기 <span class="ms-4"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-7 col-lg-8">
                        <div class="col-md-12 col-lg-12" th:if="${serviceListCcode != null}" th:each="ml : ${serviceListCcode}">
                            <div class="service-card">
                                <img class="lazyestload" th:data-src="@{/assets/img/holets/hotel-slider-01.jpg}" th:src="@{assets/img/holets/hotel-slider-01.jpg}" alt="image">
                                <div class="service-card-content">
                                    <div class="service-detail">
                                        <h2 th:text="${ml.funeralserviceTitle}"></h2>

                                    </div>
                                    <div class="service-detail">
                                        <span class="label">장례 서비스 가격:</span>
                                        <h3 th:text="${ml.funeralservicePrice}"></h3>
                                    </div>
                                    <div class="service-card-divider"></div>
                                    <div class="service-detail">
                                        <span class="label">코멘트:</span>
                                        <p th:text="${ml.getFuneralserviceComment()}"></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div><!-- element wrapper ends -->

</th:block>
<!-- 사용자정의 javascript file -->
<th:block layout:fragment="customJsFile">
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
</th:block>

<!-- 사용자정의 javascript -->
<th:block layout:fragment="customJs">
    <script th:inline="javascript">
        $(document).ready(function (){
            const reserveStartDate = $('input[name="reserveStartDate"]');
            const reserveEndDate = $('input[name="reserveEndDate"]');

            if (reserveStartDate.length !== 0) {
                reserveStartDate.daterangepicker({
                    autoUpdateInput: false,
                    singleDatePicker: true,
                    locale: {
                        cancelLabel: 'Clear'
                    }
                });
            }
            if (reserveEndDate.length !== 0) {
                reserveEndDate.daterangepicker({
                    autoUpdateInput: false,
                    singleDatePicker: true,
                    locale: {
                        cancelLabel: 'Clear'
                    }
                });
            }

            $('input[name="reserveStartDate"],input[name="reserveEndDate"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD'));
            });

            $('input[name="reserveStartDate"],input[name="reserveEndDate"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });

            $('#funeralserviceTitle').change(function (){
                const selectedOption = $(this).find('option:selected');
                const price = parseInt(selectedOption.data('price'));
                const ccode = selectedOption.data('ccode');
                $('#totalPrice').text(`$${price.toFixed(0)}`);
                $('#reserveCompanyCode').val(ccode);
            });
        });

        $('#reserveBtn').click(function (){

            let isSubmit = true;

            $('#funeralReserveForm input, #funeralReserveForm select').each((idx, element) => {
                const value = element.value.trim();
                if(!value){
                    alert('필수 입력 항목입니다.');
                    $(element).focus();
                    isSubmit = false;
                    return false;
                }
            });

            if (isSubmit) {
                // Set ccode value from selected option
                const selectedOption = $('#funeralserviceTitle').find('option:selected');
                const ccode = selectedOption.data('ccode');
                $('#reserveCompanyCode').val(ccode); // Update ccode value
                $('#funeralReserveForm').submit(); // Submit the form
            }

        });
    </script>
</th:block>
</html>
