<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
</head>

<th:block layout:fragment="customContent">
    <!-- ====================================
——— USER SECTION
===================================== -->
    <section class="py-12">
        <div th:if="${errorMessage != null}">
            <script>
                alert("[[${errorMessage}]]");
            </script>
        </div>
        <div class="container">
            <!-- Table Section -->
            <div class="table-dashboard mb-7" >
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-uppercase mb-3">이별 결제 내역 조회</h2>
                        <table class="table table-hover">
                            <tbody>
                            <tr th:if="${paymentDtoList != null}" th:each="l : ${paymentDtoList}">
                                <td class="second-child">
                                    <i class="fab fa-fort-awesome" aria-hidden="true"></i>
                                    <div>
                                        <a href="" class="hover-text-primary" th:text="${l.getFpName()}"></a><br>
                                        <p th:text="'비용 : ' + ${l.getFpFinal()} + '원'">비용 : 55,000원</p>
                                        <p >결제 : 결제완료</p>
                                    </div>
                                </td>

                                <td>
                                    <ul class="list-unstyled">
                                        <li class="">
                                            <h5>결제일</h5>
                                        </li>

                                        <li>
                                            <p th:text="${l.getFpPayDate()}"></p>
                                        </li>

                                        <li class="">
                                            <h5>반려동물</h5>
                                        </li>

                                        <li>
                                            <p th:text="${l.getReservePetName()}">콩순이</p>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <div>
                                        <a th:href="@{/funeral/funeral_confirm_payment_detail(fpcode=${l.getFpcode()})}" class="btn btn-xs btn-outline-secondary text-uppercase">상세 보기</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

</th:block>
<!-- 사용자정의 javascript file -->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자정의 javascript -->
<th:block layout:fragment="customJs">

</th:block>

</html>