<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks51team03.board.mapper.BoardMapper">
	
	<resultMap type="NoticeBoard" id="nBoardResultMap">
		<!-- pk, column -->
		<id column="nbcode" property="nboardCode"/>
		<result column="id" property="memberId"/>
		<result column="bcode" property="boardCode"/>
		<result column="bctcode" property="boardCateCode"/>
		<result column="nb_title" property="nboardTitle"/>
		<result column="nb_content" property="nboardContent"/>
		<result column="nb_reg" property="nboardRegistDate"/>
		<result column="nb_update" property="nboardUpdateDate"/>
		<result column="nb_delete" property="nboardDeleteDate"/>
		<result column="nb_img" property="nboardImg"/>
		<result column="nb_view" property="nboardView"/>
		<result column="nb_rec" property="nboardRec"/>
	</resultMap>

	<select id="getNoticeBoardList" resultMap="nBoardResultMap">
		/*게시글 목록 조회*/
		SELECT
			*
		FROM
			notice_board AS nb
			INNER JOIN
			board_category AS bc
			ON
			nb.bctcode=bc.bctcode
		WHERE
    		bc.bct_value = #{boardCateValue}
	    <if test="searchKey != null and searchValue != null">
	        AND nb.${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
	    </if>
		ORDER BY
			CAST(SUBSTRING_INDEX(nb.nbcode, 'nb', -1) AS SIGNED) DESC
		LIMIT #{startRow}, #{rowPerPage};
	</select>
	
	<select id="getNoticeBoardListCnt" parameterType="String" resultType="int">
		SELECT
    		COUNT(1)
		FROM
		    notice_board AS nb
		    INNER JOIN
		    board_category AS bc
		    ON nb.bctcode = bc.bctcode
		WHERE
    		bc.bct_value = #{boardCateValue}
	    <if test="searchKey != null and searchValue != null">
	        AND nb.${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
	    </if>;
	</select>
	
	<insert id="insertNBoard" parameterType="NoticeBoard" >
	/*게시글 작성*/
	INSERT INTO notice_board
	( 	nbcode,
		id,
		bcode,
		bctcode,
		nb_title,
		nb_content,
		nb_reg,
		nb_update,
		nb_delete,
		nb_img,
		nb_view,
		nb_rec
	)VALUES(
		#{nboardCode},
		#{memberId},
		#{boardCode},
		#{boardCateCode},
		#{nboardTitle},
		#{nboardContent},
		CURDATE(),
		#{nboardUpdateDate},
		#{nboardDeleteDate},
		#{nboardImg},
		#{nboardView},
		#{nboardRec}
	);
	</insert>
	
	<select id="getNBoardCode" resultType="int">
		/* 게시글코드 도출*/
		SELECT 
	    	MAX(CAST(REGEXP_REPLACE(nbcode, '[^0-9]', '') AS UNSIGNED)) AS max_number
		FROM 
	    	notice_board;
	</select>
	
	<select id="getNBoardByNBCode" parameterType="String" resultMap="nBoardResultMap">
		/* 게시글 코드에 맞는 게시글 열람*/
		SELECT
			*
		FROM
			notice_board AS nb
		WHERE 
			nb.nbcode=#{nboardCode};
	</select>
	
	<update id="increaseViewByNBCode" parameterType="String">
		/* 게시글 코드에 맞는 조회수 증가*/
		UPDATE
			notice_board
		SET
			nb_view=nb_view+1
		WHERE
			nbcode=#{nboardCode};
	</update>
	
	<update id="increaseRecByNBCode" parameterType="String">
		/* 게시글 코드에 맞는 추천수 증가*/
		UPDATE
			notice_board
		SET
			nb_rec=nb_rec+1	
		WHERE
			nbcode=#{nboardCode};	
	</update>
	
	<update id="updateNBoard" parameterType="NoticeBoard">
		/* 게시글 수정*/
		UPDATE
			notice_board
		<trim prefix="SET" suffixOverrides=",">
			<if test="memberId != null and memberId != ''">
			id=#{memberId},
			</if>
			<if test="boardCode != null and boardCode != ''">
			bcode=#{boardCode},
			</if>
			<if test="boardCateCode != null and boardCateCode != ''">
			bctcode=#{boardCateCode},
			</if>
			<if test="nboardTitle != null and nboardTitle != ''">
			nb_title=#{nboardTitle},
			</if>
			<if test="nboardContent != null and nboardContent != ''">
			nb_content=#{nboardContent},
			</if>
			<if test="nboardRegistDate != null and nboardRegistDate != ''">
			nb_reg=#{nboardRegistDate},
			</if>
			<if test="nboardImg != null and nboardImg != ''">
			nb_img=#{nboardImg}
			</if>
		 </trim>
		 WHERE
        	nbcode = #{nboardCode};
	</update>
	
	<select id="getBCTValueNameByBCTCode" parameterType="NoticeBoard" resultType="String">
		SELECT
			bct_value
		FROM
			notice_board AS nb
			INNER JOIN
			board_category AS bc
			ON
			nb.bctcode=bc.bctcode
		WHERE 
			nb.nbcode=#{nboardCode};
	</select>
	
	<select id="getBoardCateCodeByBCTValue" parameterType="NoticeBoard" resultType="String">
		SELECT
			bctcode
		FROM
			board_category
		WHERE 
			bct_value=#{boardCateCode};
	</select>
	
	<select id="getBoardCodeByNBoard" parameterType="NoticeBoard" resultType="String">
		SELECT
			bcode
		FROM
			board_category
		WHERE 
			bct_value=#{boardCateCode};
	</select>
	
	<select id="getBoardCodeByBCTValue" parameterType="String" resultType="String">
		SELECT
			bcode
		FROM
			board_category
		WHERE 
			bct_value=#{boardCateCode};
	</select>
	
	
	<select id="getBoardInfoByBCTValue" parameterType="String" resultType="String">
		/*게시글 게시글 카테고리 이름으로 게시글 설명 도출*/
		SELECT
			bct_info
		FROM
			board_category
		WHERE 
			bct_value=#{boardCateCode};
	</select>
	
	<select id="getMainNoticeBoard" parameterType="String" resultMap="nBoardResultMap">
		/* 게시글 코드에 맞는 게시판 최신순*/
		SELECT
			*
		FROM
			notice_board
		WHERE
			bcode=#{boardCode}
		ORDER BY nb_reg DESC;
	</select>
	
	<select id="getMainViewBoard" parameterType="String" resultMap="nBoardResultMap">
		/* 게시판 조회순*/
		SELECT
			*
		FROM
			notice_board
		ORDER BY nb_view DESC
		LIMIT 10;
	</select>
	
	<select id="getMainRecBoard" parameterType="String" resultMap="nBoardResultMap">
		/* 게시판 추천순*/
		SELECT
			*
		FROM
			notice_board
		ORDER BY nb_rec DESC
		LIMIT 10;
	</select>
	
	<select id="getMainLatestBoard" parameterType="String" resultMap="nBoardResultMap">
		/* 게시판 최신순*/
		SELECT
			*
		FROM
			notice_board
		ORDER BY nb_reg DESC
		LIMIT 10;
	</select>
	
	<select id="getBCTValueByNBCode" parameterType="String" resultType="String">
		/* 게시글 코드로 게시판 이름 도출*/
		SELECT
			bc.bct_value
		FROM
			notice_board AS nb
			INNER JOIN
			board_category AS bc
			ON
			nb.bctcode=bc.bctcode
		WHERE 
			nb.nbcode=#{nboardCode};
	</select>
	
	<insert id="insertnBoardImg" parameterType="NBoardImg">
		 /* 게시글 이미지 추가 */
	    <selectKey keyProperty="nbiCode" resultType="String" order="BEFORE">
	        SELECT 
	            CONCAT('nbi', COALESCE(MAX(CAST(SUBSTRING(nbicode, 4) AS UNSIGNED)), 0) + 1)
	        FROM nboard_img
	    </selectKey>
		-- 게시글 대표 이미지 등록
		INSERT INTO nboard_img
		(	nbicode, 
			nbcode, 
			file_idx, 
			file_cate
		)
		VALUES 
		(	#{nbiCode},
		 	#{nbCode},
		 	#{fileIdx},
		   	'게시글대표이미지'
		)
	</insert>
	
	<select id="getNBoardImgByNBCode" parameterType="String" resultType="String">
		/*게시글 코드로 이미지 경로 가져오기*/
		SELECT
			f.file_path
		FROM
			nboard_img as ni
			LEFT JOIN
			files as f
			ON
			ni.file_idx=f.file_idx
		WHERE
		ni.nbcode = #{nbcode}
		LIMIT 1;
	</select>
	
	<delete id="deleteFromNBoardImg" parameterType="String">
		/*게시글이미지 삭제*/
	    DELETE FROM nboard_img
	    WHERE 
	    	file_idx
	    IN
	    (
	        SELECT file_idx
	        FROM files
	        WHERE file_path = #{nboardImg}
    	)
	</delete>
	
	<delete id="deleteFromFiles" parameterType="String">
		/*게시글 파일 삭제*/
    	DELETE FROM files
    	WHERE
    		file_path = #{nboardImg}
	</delete>
	<!-- <select id="getBoardSearchList" parameterType="NBoardSearch" resultMap="nBoardResultMap">
		/*게시글 검색*/
		SELECT
			*
		FROM
			notice_board AS nb
			INNER JOIN
			board_category AS bc
			ON
			nb.bctcode=bc.bctcode
		WHERE
			bc.bct_value=#{boardCateValue}
			AND
			nb.${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
		ORDER BY
			CAST(SUBSTRING_INDEX(nb.nbcode, 'nb', -1) AS SIGNED);
	</select> -->
</mapper>