<!DOCTYPE html>
<html layout:decorate="~{layout/map_default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/assets/css/map.css">
</head>
<th:block layout:fragment="customContent">
    <div class="main-wrapper home-city">
        <section class="bg-smoke py-12">
            <div th:if="${errorMessage != null}">
                <script>
                    alert("[[${errorMessage}]]");
                </script>
            </div>
            <div class="search_container">
                <div class="search-container">
                    <form id="searchForm" method="get" th:action="@{/map/map_main}">
                        <input id="keyword" name="keyword" placeholder="검색어를 입력하세요" th:value="${keyword}" type="text">
                        <button id="searchBtn" type="submit">검색하기</button>
                    </form>
                </div>
                <div class="map_wrap">
                    <div id="map"></div>
                    <div class="bg_white" id="menu_wrap">
                        <hr>
                        <ul id="placesList"></ul>
                        <div id="pagination"></div>
                    </div>
                    <div class="bg_white" id="info_wrap">
                        <div class="back_button">
                            <button id="returnMenu_wrap" type="button">메뉴출력</button>
                        </div>
                        <div>
                            <div class="company_image">
                                <img alt="PAL 업체 등록 이미지" id="placeIcon" src="" style="width: 240px; height: 150px;">
                            </div>
                            <div class="details">
                                <div id="placeNameContainer">
                                    <a id="placeNameDb" style="display:none;" th:href="@{/map/map_company_info}"></a>
                                    <input id="placeNameKakao" class="detail-input" style="display:none;" type="text" readonly>
                                </div>
                                <input id="placeRating" class="detail-input" type="text" value="별점: 알수없음" style="text-align: justify;" readonly>
                                <input id="parking" class="detail-input" type="text" value="주차장: 알수없음" style="text-align: justify;" readonly>
                                <input id="placeAddress" class="detail-input" type="text" readonly>
                                <input id="placePhone" class="detail-input" type="text" readonly>
                                <input id="employee_count" class="detail-input" type="text" value="직원 수: 알수없음" readonly>
                                <input id="placeHours" class="detail-input" type="text" readonly>
                            </div>
                            <a class="write-review-link" id="write-question-link">문의하기</a>
                            <hr>
                            <div class="reviews">
                                <div class="review-container">
                                    <input id="placeReviews" class="detail-input" type="text" value="리뷰: 알수없음" style="text-align: left" readonly>
                                    <a class="write-review-link" id="write-review-link">작성</a>
                                </div>
                                <div class="review_list">
                                    <!-- 리뷰가 여기 표시됩니다. -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>
<!-- 사용자정의 script -->
<th:block layout:fragment="customJs">
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=187a124bab49811facead4006ff52672&libraries=services"
            type="text/javascript"></script>
    <script src="/assets/js/map.js" type="text/javascript"></script>
</th:block>
</html>
