<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAL 회원가입 폼</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/font/iconic/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/member_custom.css}" >
</head>
<body>
    <div class="member-insert-form-body">
	<form class="member-insert-form" id="insertMemberForm" th:action="@{/member/insertMember}" method="post">
       <!-- 로고 -->		
		<a href="/member/member_main" class="logo-single">
			<img th:src="@{/assets/img/pal_logo.png}" alt="IMG-LOGO">
		</a>

        <!-- 1. 아이디 -->
        <div class="login-insert-field-id">
            <b>아이디</b>
            <div>
                <input type="text" id="memberId" name="memberId" placeholder="아이디 입력">
                <input type="button" id="idCheck" value="중복검사">
            </div>
            <a id="idCheckResult" style="display: none;"></a>
        </div>
        
        <!-- 2. 비밀번호 -->
        <div class="login-insert-field">
            <b>비밀번호</b>
            <input class="userpw" type="password" id="memberPw" name="memberPw">
        </div>
        <div class="login-insert-field">
            <b>비밀번호 재확인</b>
            <input class="userpw-confirm" type="password">
             <a id="passwordMatchResult" style="display: none;"></a> <!-- 결과를 출력할 <a> 태그 -->
        </div>
        
        <!-- 3. 이름 -->
        <div class="login-insert-field">
            <b>이름</b>
            <input type="text" id="memberName" name="memberName" maxlength="20" oninput="KoreanInput(event)" required>
        </div>

 		<!-- 4. 필드(성별) -->
        <b>성별</b>
        <div class="login-insert-field-button gender">
		    <button class="login-insert-field-button-child gender-btn">남자</button>
		    <button class="login-insert-field-button-child gender-btn">여자</button>
		    <button class="login-insert-field-button-child gender-btn">선택안함</button>
			<input type="text" id="memberGender" name="memberGender" style="display: none;" value="">
		</div>

        <!-- 5. 필드(생년월일) -->
        <div class="login-insert-field birth">
            <b>생년월일</b>
            <div>
                <input type="text" id="yearInput" placeholder="년(4자)" maxlength="4">                
                <select id="monthInput">
                    <option value="">월</option>
                    <option th:each="month : ${#numbers.sequence(1,12)}"
                    		th:value="${month}"
                    		th:text="|${month}월|"></option>
                </select>
                <input type="number" id="dayInput" placeholder="일" maxlength="2">
            </div>
            <input type="text" id="memberBirth" name="memberBirth" style="display: none;" value="">
        </div>


		<!-- 6. 주소 -->
		<div class="login-insert-field-addr">
            <b>주소</b>
            <div>
                <input type="number" id="memberPostNum" name="memberPostNum" placeholder="우편번호 입력">
                <input type="button" onclick="SearchPostNumberAddr()" value="우편번호 검색">
            </div>
            <input type="text" id="memberAddr" name="memberAddr" placeholder="주소">
            <input type="text" id="memberAddrDetail" name="memberAddrDetail" placeholder="상세주소">
        </div>

		
		<!-- 7. 전화번호 -->
        <div class="login-insert-field">
            <b>전화번호</b>
            <input type="tel" id="memberPhone" name="memberPhone">
        </div>


		<!-- 8. 필드(반려동물 유무) -->
        <b>반려동물 유무</b>
		<div class="login-insert-field-button">
		    <button class="login-insert-field-button-child pet-btn">없다</button>
			<button class="login-insert-field-button-child pet-btn">있다</button>
		    <input type="number" id="memberPet" name="memberPet" style="display: none;" value="">
		</div>
        
        <!-- 9. 이메일 인증 -->
        <br><br>
        <b>이메일 인증</b>
        <div class="login-insert-field-addr" role="form" method="post" th:object="${memberFormDto}">
	          <div class="confirm-group">
	              <input type="email"  id=memberEmail name="memberEmail" placeholder="이메일 입력">
	              <input type="button" id="sendBtn" onclick="sendNumber()" value="인증번호 받기">
	          </div>
	          <div id="confirmEmailNum">
	              <input type="text" id="confirmNum" placeholder="인증번호 입력">
	              <input type="button" id="confirmBtn" onclick="confirmNumber()" value="인증번호 확인">
	          </div>
	          <a id="confirmResult">이메일 인증을 진행해주세요.</a>
	          
	          <input type="text" id="Confirm" name="Confirm" style="display: none" value="">
        </div>
        <!-- 11. 회원 권한 -->
		<input type="text" id="memberLevel" name="memberLevel" style="display: none" value="level4"> <!-- Adjust the value as needed -->
        <!-- 12. 회원 등급 -->
		<input type="text" id="memberGrade" name="memberGrade" style="display: none" value="New"> <!-- Adjust the value as needed -->
       
            
        <!-- 10. 가입하기 버튼 -->
        <div class="login-insert-field">
        	<input type="button" value="회원가입" id="memberInsertBtn">
		</div>
	</form>
	</div>s
	
    <!-- 10. 푸터 -->
    <div class="member-insert-form-footer">
        <div>
            <a href="#none">이용약관</a>
            <a href="#none">개인정보처리방침</a>
            <a href="#none">회원정보 고객센터</a>
        </div>
        <span><a href="#none">PALCorp.</a></span>
    </div>

<script th:src="@{/assets/js/jquery-3.7.1.js}"></script>
<script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
<script th:inline="javascript">

	/* 이메일 인증번호 발송 */
	function sendNumber()
	{
		const confirmResult = $('#confirmResult');
	    /* $("#confirmEmailNum").css("display","block"); */
	    $.ajax({
	        url:"/mail",
	        type:"post",
	        dataType:"json",
	        data:{"mail" : $("#memberEmail").val()},
	        success: function(data){
	        	confirmResult.text('인증번호가 발송되었습니다. 이메일을 확인해주세요.');
	        	confirmResult.show(); 	
	            $("#Confirm").attr("value",data);
	        },
	        error: function(xhr, status, error) {
	        	confirmResult.text('인증번호 발송에 실패하였습니다.');
	        	confirmResult.show(); 	
                console.error(xhr.responseText);
            }
	    });
	}
	
	/* 이메일 인증번호 비교 */
	function confirmNumber(){
		const number1 = $("#confirmNum").val();
		const number2 = $("#Confirm").val();
	    const confirmResult = $('#confirmResult');
	    
	    if(number1 == number2&&number1!=null){
	    	confirmResult.text('이메일 인증이 완료되었습니다.');
	    	confirmResult.show(); 	
	    }else{
	    	confirmResult.text('인증번호가 일치하지않습니다.');
	    	confirmResult.show(); 	
	    }
	}


	/*다음 Api로 우편번호 주소 검색*/
	function SearchPostNumberAddr() {
	    new daum.Postcode({
	        oncomplete: function(data) {
	            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
	
	            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
	            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	            let addr = ''; // 주소 변수
	            let extraAddr = ''; // 참고항목 변수
	
	            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
	            // 사용자가 도로명 주소를 선택했을 경우
	            if (data.userSelectedType === 'R') 
	            { 
	                addr = data.roadAddress;
	            }
	            else // 사용자가 지번 주소를 선택했을 경우(J)
	            { 
	                addr = data.jibunAddress;
	            }
	
	
	            // 우편번호와 주소 정보를 해당 필드에 넣는다.
	            document.getElementById('memberPostNum').value = data.zonecode;
	            document.getElementById("memberAddr").value = addr;
	            // 커서를 상세주소 필드로 이동한다.
	            document.getElementById("memberAddrDetail").focus();
	        }
	    }).open();
	}


	/* 한글 검사 */
	function KoreanInput(event)
	{
		const inputValue = event.target.value;			// 입력값
		const regex = /^[ㄱ-ㅎㅏ-ㅣ가-힣]{0,18}$/; 			// 한글만 입력 받고+최대 20자 제한
	    if (!regex.test(inputValue))
		{
	        alert("한글로만 입력해 주세요 (최대 20자).");
	        event.target.value = ''; 					// 입력 초기화
	    }
	}

    /* Thymeleaf 내부에서 JavaScript 사용 */
    document.addEventListener('DOMContentLoaded', function() {
        const genderButtons = document.querySelectorAll('.gender-btn');
        const memberGenderInput = document.getElementById('memberGender');
        const petButtons = document.querySelectorAll('.pet-btn');
        const memberPetInput = document.getElementById('memberPet');
        
        /* 성별 버튼 클릭 시 처리 */
        genderButtons.forEach(function(button, index) {
            button.addEventListener('click', function(event) {
            	event.preventDefault(); // 폼 제출 기본 동작 막기
                // 선택된 버튼에 active 클래스 추가
                genderButtons.forEach(function(btn) {
                    btn.classList.remove('active');
                });
                this.classList.add('active');
                
                var gender="";
                
                switch(index)
                {
                case 0:
                	gender="남";
                	break;
                case 1:
                	gender="여";
                	break;
                case 2:
                	gender="선택안함"
                	break;
                default:
                	break;
                }
                
                memberGenderInput.value = gender;
                
            });
        });

        /* 반려동물 유무 버튼 클릭 시 처리 */
        petButtons.forEach(function(button, index) {
            button.addEventListener('click', function(event) {
            	event.preventDefault(); // 폼 제출 기본 동작 막기
                // 선택된 버튼에 active 클래스 추가
                petButtons.forEach(function(btn){
                    btn.classList.remove('active');
                });
                this.classList.add('active');
                
                memberPetInput.value = (index).toString();
            });
        });
    });
    
    /* 아이디 중복 검사 */
    $('#idCheck').click(function(){
        const memberId = $('#memberId').val();
        if (!memberId) {
            /* alert('회원아이디를 입력해주세요'); */
            $('#memberId').focus();
            return ;
        }
        const request = $.ajax({
            url : '/member/idCheck',
            method : 'POST',
            data : { 'memberId' : memberId },
            dataType : 'json'
        });
        request.done(response => {
            const isMember = response;
            
            $('#addMemberForm input').not('#memberId').prop('disabled', isMember);            
            $('#addMemberForm select').prop('disabled', isMember);            
            $('#addMemberForm button').not('#idCheck').prop('disabled', isMember);
            
            const idCheckResult = $('#idCheckResult');
            if (isMember) {
                idCheckResult.text('회원가입을 할 수 없는 아이디입니다.');
                idCheckResult.show(); 						// 결과 메시지 출력
                $('#memberId').val('');
                $('#memberId').focus();
            } else {
                idCheckResult.text('사용 가능한 아이디입니다.');
                idCheckResult.show(); 						// 결과 메시지 출력
            }
        });
        request.fail((jqXHR, textStatus, error) => {
            console.log(jqXHR, textStatus, error);
        });
    });
    
    /* 비밀번호 재확인 */
     $('.userpw-confirm').keyup(function() {
	   	const password = $('.userpw').val(); 					// 첫 번째 비밀번호 입력 값
	   	const confirmPassword = $(this).val(); 				// 비밀번호 재확인 입력 값
	       
	   	const passwordMatchResult = $('#passwordMatchResult');
        
        if (password === confirmPassword) {
            passwordMatchResult.text('비밀번호가 일치합니다.');
            passwordMatchResult.css('color', 'green'); 		// 일치 시 글자색 초록색으로 변경
            passwordMatchResult.show();
        } else {
            passwordMatchResult.text('비밀번호가 일치하지 않습니다.');
            passwordMatchResult.css('color', 'red'); // 불일치 시 글자색 빨간색으로 변경
            passwordMatchResult.show();
        }
    });
    
  	/* 첫 번째 비밀번호 입력 필드의 keyup 이벤트 처리 */
     $('.userpw').keyup(function() {
         // 비밀번호가 변경될 때마다 결과 메시지 숨기기
         $('#passwordMatchResult').hide();
     });
  	
  	/* 회원가입 */
	$('#memberInsertBtn').click(function(){
		
		/* 생년월일 변환하여 input에 추가 */
		const yearInput = $('#yearInput').val().trim();
		const monthInput = $('#monthInput').val();
		const dayInput = $('#dayInput').val().trim();

        if (yearInput.length > 4 || isNaN(yearInput)) {
            alert('생년월일의 년도는 최대 4자리 숫자만 입력 가능합니다.');
            return;
        }
        if (dayInput.length > 2 || isNaN(dayInput) || dayInput < 1 || dayInput > 31) {
            alert('생년월일의 날짜는 최대 2자리 숫자이며, 1부터 31 사이의 숫자만 입력 가능합니다.');
            return;
        }

     	// 생년월일 6자리로 변환 YYYYMMDD
        const birthDate = yearInput.substr(2)+ monthInput.padStart(2,'0') + dayInput.padStart(2,'0');
        
        // 숨겨둔 input value에 넣기
        $('#memberBirth').val(birthDate);
        
        const idCheckResult = $('#idCheckResult');
        const passwordMatchResult = $('#passwordMatchResult');
        const confirmResult = $('#confirmResult');
        
		/* 회원정보 입력 */
		let isSubmit = true;
		
		if(!confirmResult.text('이메일 인증이 완료되었습니다.')&&!idCheckResult.text('사용 가능한 아이디입니다.')
				&&!passwordMatchResult.text('비밀번호가 일치합니다.'))
		{
			isSubmit = false;
		}
		
		
		$('#insertMemberForm input').each( (idx, element) => {
			const id = element.id;
			const value = element.value;
			if(!value){
				if(element.text!=null)
					alert(element.text);
				else
					alert('필수입력 항목입니다.');
				$(element).focus() ;
				isSubmit = false;
				return false;
			}
		});
		
		console.log("회원정보 입력:")
		if(isSubmit) $('#insertMemberForm').submit();
	});
  	
  	/*생년월일의 일의 자리 숫자는 앞에 0을 추가하는 함수*/
	 function pad(number, length)
	 {
	        const str = '' + number;
	        while (str.length < length)
	        {
	            str = '0' + str;
	        }
	        return str;
	    }
</script>
</body>