<!DOCTYPE html>
<html layout:decorate="~{layout/mypage_default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/assets/font/iconic/css/material-design-iconic-font.min.css}"
          type="text/css">
</head>
<th:block layout:fragment="customContent">
    <div th:if="${errorMessage != null}">
        <script>
            alert("[[${errorMessage}]]");
        </script>
    </div>
    <section class="bg-smoke py-12">
        <div class="mypage-contents-box">
            <div class="member-info-form">
                <div class="hover-profile mb-7 mb-lg-9">
                    <h1 class="member-info-profile-top-textline">
                        <span>내 정보</span>
                    </h1>
                    <div class="row">
                        <div class="col-md-6 col-lg-7 col-xl-8">
                            <div class="member-info-profile-top-card">
                                <div class="member-info-profile-round-box" style="background: #BDBDBD;">
                                    <img class="member-info-profile-round-box-img"
                                         th:src="@{/assets/img/cars/car-img-06.jpg}">
                                </div>

                                <!-- 아이디/이름 -->
                                <div class="mb-6 mb-md-4 mb-lg-6">
                                    <h2 class="text-uppercase font-weight-bold" th:text="${memberInfo.memberId}"></h2>
                                    <p class="mb-0" th:text="${memberInfo.memberName}"></p>
                                </div>

                                <!-- 수정하기 아이콘 -->
                                <div class="icon-setting">
                                    <a th:href="@{/member/updateMember(memberId=${memberInfo.memberId})}">
                                    	<i aria-hidden="true" class="fas fa-pencil-alt"></i>
                                    </a>
                                </div>
                            </div>


                            <!-- <ul class="list-unstyled">
                                <li class="media media-profile-list">
                                <strong>성별:</strong>
                                    <div class="media-body ms-2">
                                        <span class="text-gray-color"th:text="${memberInfo.memberGender}"></span>
                                    </div>
                                </li>

                                <li class="media media-profile-list">
                                <strong>생년월일:</strong>
                                    <div class="media-body ms-2">
                                        <span class="text-gray-color"th:text="${memberInfo.memberBirth}"></span>
                                    </div>
                                </li>


                                <li class="media media-profile-list">
                                <strong>전화번호:</strong>
                                    <div class="media-body ms-2">
                                        <span class="text-gray-color"th:text="${memberInfo.memberPhone}"></span>
                                    </div>
                                </li>

                                <li class="media media-profile-list">
                                <strong>주소:</strong>
                                    <div class="media-body ms-2">
                                        <span class="text-gray-color"th:text="${memberInfo.memberAddr}"></span>
                                        <span>(</span>
                                        <span class="text-gray-color"th:text="${memberInfo.memberPostNum}"></span>
                                        <span>)	</span>
                                        <span class="text-gray-color"th:text="${memberInfo.memberAddrDetail}"></span>
                                    </div>
                                </li>

                                <li class="media media-profile-list">
                                <strong>이메일:</strong>
                                    <div class="media-body ms-2">
                                        <span class="text-gray-color"th:text="${memberInfo.memberEmail}"></span>
                                    </div>
                                </li>

                                <li class="media media-profile-list">
                                <strong>반려동물 수 :</strong>
                                    <div class="media-body ms-2">
                                        <span class="text-gray-color"th:text="${memberInfo.memberPet}"></span>
                                    </div>
                                </li>
                            </ul> -->

                            <table class="tftable">
                                <tr>
                                    <td class="td-head">성별</td>
                                    <td><span th:text="${memberInfo.memberGender}"></span></td>
                                </tr>
                                <tr>
                                    <td>생년월일</td>
                                    <td><span th:text="${memberInfo.memberBirth}"></span></td>
                                </tr>
                                <tr>
                                    <td>전화번호</td>
                                    <td><span th:text="${memberInfo.memberPhone}"></span></td>
                                </tr>
                                <tr>
                                    <td>주소</td>
                                    <td>
                                        <span class="text-gray-color" th:text="${memberInfo.memberAddr}"></span>
                                        <span>(</span>
                                        <span class="text-gray-color" th:text="${memberInfo.memberPostNum}"></span>
                                        <span>)	</span>
                                        <span class="text-gray-color" th:text="${memberInfo.memberAddrDetail}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>이메일</td>
                                    <td><span th:text="${memberInfo.memberEmail}"></span></td>
                                </tr>
                                <tr>
                                    <td>반려동물 수</td>
                                    <td><span th:text="${memberInfo.memberPet}"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</th:block>
</html>
