<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
<head>
</head>
<th:block layout:fragment="customContent">
<!-- ====================================
——— BANNER SECTION
===================================== -->
<div class="main-wrapper home-destination">
<!-- ====================================
——— BRAND SECTION
===================================== -->
<section class="main-slide-banner">
 <div id="carouselExample" class="carousel slide banner" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img th:src="@{/assets/img/home-city/slider/city-01.jpg}" class="d-block w-100" alt="Slide 1">
            <div class="carousel-caption d-none d-md-block">
                <h5>첫 번째 슬라이드 제목</h5>
                <p>첫 번째 슬라이드 설명입니다.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img th:src="@{/assets/img/home-city/slider/city-02.jpg}" class="d-block w-100" alt="Slide 2">
            <div class="carousel-caption d-none d-md-block">
                <h5>두 번째 슬라이드 제목</h5>
                <p>두 번째 슬라이드 설명입니다.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img th:src="@{/assets/img/home-city/slider/city-03.jpg}" class="d-block w-100" alt="Slide 3">
            <div class="carousel-caption d-none d-md-block">
                <h5>세 번째 슬라이드 제목</h5>
                <p>세 번째 슬라이드 설명입니다.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">이전</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">다음</span>
    </button>
</div>
</section>
<!-- ====================================
——— PACKAGES SECTION
===================================== -->
<section class="pb-8 py-lg-10 media-top">
  <div class="container">
    <div class="section-title2 text-center">
      <h2 class="text-uppercase font-weight-bold position-relative">
        <span class="bg-white">
          주요기능바로가기
        </span>
      </h2>
      <p class="text-capitalize text-center">Q&A랑 지도, 장례예약 바로가기 넣을 곳</p>
    </div>
    
    
      <div class="row">
      
      <div class="col-md-6 col-lg-4">
        <div class="media media-hover-overlay justify-content-center mb-2 mb-md-4 mb-lg-6">
          <a href="single-package-right-sidebar.html" class="media-content">
            <img class="media-img lazyestload" th:data-src="@{/assets/img/home/packages/our-packages-01.jpg}" th:src="@{/assets/img/home/packages/our-packages-01.jpg}" alt="Generic placeholder image">
            <div class="media-object">
              <div class="content">
                <h3 class="text-uppercase">Maldives tour</h3>
                <h6 class="text-uppercase">4 days, 5 nights start from <span class="text-primary">$1000</span></h6>
              </div>
            </div>

            <div class="media-img-overlay">
              <div class="overlay-content">
                <a href="booking-step-1.html" class="btn btn-xs btn-primary text-uppercase">Book Now</a>
              </div>
            </div>
          </a>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <div class="media media-hover-overlay justify-content-center mb-2 mb-md-4 mb-lg-6">
          <a href="single-package-right-sidebar.html" class="media-content">
            <img class="media-img lazyestload" th:data-src="@{/assets/img/home/packages/our-packages-02.jpg}" th:src="@{/assets/img/home/packages/our-packages-02.jpg}" alt="Generic placeholder image">
            <div class="media-object">
              <div class="content">
                <h3 class="text-uppercase">Maldives tour</h3>
                <h6 class="text-uppercase">4 days, 5 nights start from <span class="text-primary">$1000</span></h6>
              </div>
            </div>

            <div class="media-img-overlay">
              <div class="overlay-content">
                <a href="booking-step-1.html" class="btn btn-xs btn-primary text-uppercase">Book Now</a>
              </div>
            </div>
          </a>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <div class="media media-hover-overlay justify-content-center mb-2 mb-md-4 mb-lg-0">
          <a href="single-package-right-sidebar.html" class="media-content">
            <img class="media-img lazyestload" th:data-src="@{/assets/img/home/packages/our-packages-04.jpg}" th:src="@{/assets/img/home/packages/our-packages-04.jpg}" alt="Generic placeholder image">
            <div class="media-object">
              <div class="content">
                <h3 class="text-uppercase">Mexico tour</h3>
                <h6 class="text-uppercase">4 days, 5 nights start from <span class="text-primary">$1000</span></h6>
              </div>
            </div>
      
            <div class="media-img-overlay">
              <div class="overlay-content">
                <a href="booking-step-1.html" class="btn btn-xs btn-primary text-uppercase">Book Now</a>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ====================================
——— TOP DESTINATION SECTION
===================================== -->
<section class="py-9 py-md-10">
  <div class="container">
    <div class="text-center section-title2">
      <h2 class="text-uppercase font-weight-bold position-relative">
        <span class="bg-white">갤러리 게시판&공지사항&추천게시판</span>
      </h2>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    
    <div class="row">
      <div class="col-6 col-md-4 col-lg-2">
        <div class="card card-opacity mb-6 mb-lg-0">
          <a href="destination-single-city.html" class="position-relative">
            <img class="card-img-top rounded lazyestload" th:data-src="@{/assets/img/home-destination/destination/destination-img-01.jpg}" th:src="@{/assets/img/home-destination/destination/destination-img-01.jpg}" alt="Card image cap">
            <div class="card-img-overlay card-hover-overlay d-flex flex-column"></div>
          </a>

          <div class="card-body px-0 pb-0">
            <h5 class="mb-0">
              <a href="destination-single-city.html" class="card-title font-weight-semibold text-dark text-uppercase">Australia</a>
            </h5>

            <a href="destination-single-city.html">
              <p class="mb-0">Opera House</p>
            </a>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-2">
        <div class="card card-opacity mb-6 mb-lg-0">
          <a href="destination-single-city.html" class="position-relative">
            <img class="card-img-top rounded lazyestload" th:data-src="@{/assets/img/home-destination/destination/destination-img-02.jpg}" th:src="@{/assets/img/home-destination/destination/destination-img-02.jpg}"
              alt="Card image cap">
            <div class="card-img-overlay card-hover-overlay d-flex flex-column"></div>
          </a>
      
          <div class="card-body px-0 pb-0">
            <h5 class="mb-0">
              <a href="destination-single-city.html" class="card-title font-weight-semibold text-dark text-uppercase">America</a>
            </h5>
      
            <a href="destination-single-city.html">
              <p class="mb-0">Statue of Liberty</p>
            </a>
          </div>
        </div>
      </div>
	</div>
	<div class="row">
      <div class="col-6 col-md-4 col-lg-2">
        <div class="card card-opacity mb-6 mb-lg-0">
          <a href="destination-single-city.html" class="position-relative">
            <img class="card-img-top rounded lazyestload" th:data-src="@{/assets/img/home-destination/destination/destination-img-03.jpg}" th:src="@{/assets/img/home-destination/destination/destination-img-03.jpg}"
              alt="Card image cap">
            <div class="card-img-overlay card-hover-overlay d-flex flex-column"></div>
          </a>
      
          <div class="card-body px-0 pb-0">
            <h5 class="mb-0">
              <a href="destination-single-city.html" class="card-title font-weight-semibold text-dark text-uppercase">London</a>
            </h5>
      
            <a href="destination-single-city.html">
              <p class="mb-0">Big Ben Watch</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="card card-opacity">
          <a href="destination-single-city.html" class="position-relative">
            <img class="card-img-top rounded lazyestload" th:data-src="@{/assets/img/home-destination/destination/destination-img-06.jpg}" th:src="@{/assets/img/home-destination/destination/destination-img-06.jpg}"
              alt="Card image cap">
            <div class="card-img-overlay card-hover-overlay d-flex flex-column"></div>
          </a>
      
          <div class="card-body px-0 pb-0">
            <h5 class="mb-0">
              <a href="destination-single-city.html" class="card-title font-weight-semibold text-dark text-uppercase">France</a>
            </h5>
      
            <a href="destination-single-city.html">
              <p class="mb-0">Eiffel Tower</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ====================================
——— SALE SECTION
===================================== -->
<section class="dzsparallaxer auto-init use-loading sale-paralax">
  <div class="bg-overlay-darken divimage dzsparallaxer--target" style="height: 550px;"
    th:data-src="@{/assets/img/home-destination/package-sale-bg.jpg}">
  </div>

  <div class="container paralax-container">
    <div class="row">
      <div class="col-md-8 col-lg-6">
        <div class="content mb-7">
          <h2 class="text-uppercase text-white font-weight-bold mb-2">
            50% off sale
          </h2>

          <h4 class="text-white font-weight-normal line-height-24">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</h4>
        </div>

        <div class="d-flex justify-content-start">
          <a href="booking-step-1.html" class="btn btn-primary btn-sale text-white text-uppercase">Book Now</a>
          
          <a href="single-package-right-sidebar.html" class="btn btn-outline-primary btn-sale text-uppercase ms-3 ms-md-4 ms-lg-6">Explor tour</a>
        </div>
        
      </div>
    </div>
  </div>
</section>

<!-- ====================================
——— REVIEW SECTION
===================================== -->
<section class="dot-slider">

<div class="container mt-5">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">리뷰 1</h5>
                                <p class="card-text">
                                여기에 메모 내용을 입력하세요.
                                여기에 메모 내용을 입력하세요.
                                여기에 메모 내용을 입력하세요.
                                여기에 메모 내용을 입력하세요.
                                여기에 메모 내용을 입력하세요.
                                여기에 메모 내용을 입력하세요.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">리뷰 2</h5>
                                <p class="card-text">여기에 메모 내용을 입력하세요.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">리뷰 3</h5>
                                <p class="card-text">여기에 메모 내용을 입력하세요.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">리뷰 4</h5>
                                <p class="card-text">여기에 메모 내용을 입력하세요.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">리뷰 5</h5>
                                <p class="card-text">여기에 메모 내용을 입력하세요.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">리뷰 6</h5>
                                <p class="card-text">여기에 메모 내용을 입력하세요.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">이전</span>
        </button>
        
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">다음</span>
        </button>
        
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="첫번째 슬라이드"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="두번째 슬라이드"></button>
        </div>
    </div>
</div>
</section>
<!-- ====================================
——— BRAND SECTION
===================================== -->
<section class="py-8 bg-smoke">
  <div class="container">
    <div class="brand-slider" dir="rtl">
      <div class="item">
        <img class="lazyestload" th:data-src="@{/assets/img/home-destination/slider/logo-01.png}" th:src="@{/assets/img/home-destination/slider/logo-01.png}" alt="image">
      </div>
      <div class="item">
        <img class="lazyestload" th:data-src="@{/assets/img/home-destination/slider/logo-02.png}" th:src="@{/assets/img/home-destination/slider/logo-02.png}" alt="image">
      </div>
      <div class="item">
        <img class="lazyestload" th:data-src="@{/assets/img/home-destination/slider/logo-03.png}" th:src="@{/assets/img/home-destination/slider/logo-03.png}" alt="image">
      </div>
      <div class="item">
        <img class="lazyestload" th:data-src="@{/assets/img/home-destination/slider/logo-04.png}" th:src="@{/assets/img/home-destination/slider/logo-04.png}" alt="image">
      </div>
      <div class="item">
        <img class="lazyestload" th:data-src="@{/assets/img/home-destination/slider/logo-01.png}" th:src="@{/assets/img/home-destination/slider/logo-01.png}" alt="image">
      </div>
      <div class="item">
        <img class="lazyestload" th:data-src="@{/assets/img/home-destination/slider/logo-02.png}" th:src="@{/assets/img/home-destination/slider/logo-02.png}" alt="image">
      </div>
      <div class="item">
        <img class="lazyestload" th:data-src="@{/assets/img/home-destination/slider/logo-03.png}" th:src="@{/assets/img/home-destination/slider/logo-03.png}" alt="image">
      </div>
      <div class="item">
        <img class="lazyestload" th:data-src="@{/assets/img/home-destination/slider/logo-04.png}" th:src="@{/assets/img/home-destination/slider/logo-04.png}" alt="image">
      </div>
    </div>
  </div>
</section>
</div>
<!-- modal -->
</th:block>



<!-- 사용자정의 javascript file -->
<th:block layout:fragment="customJsFile">
</th:block>
	
<!-- 사용자정의 javascript -->
<th:block layout:fragment="customJs">
</th:block>
</html>