<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>PAL_회원가입_반려동물등록</title>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/font/iconic/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/member_custom.css}" >
</head>
<body>
    <div class="member-insert-form-body">
	<form class="member-insert-form" id="insertPetForm" th:action="@{/pet/insertPet}" method="post">
         <!-- 로고 -->		
		<a href="/member/member_main" class="logo-single">
			<img th:src="@{/assets/img/pal_logo.png}" alt="IMG-LOGO">
		</a>
        
        <!-- 1. 반려동물 이름 -->
        <br><br>
        <div class="login-insert-field">
            <b>반려동물 이름</b>
            <input type="text" id="petName" name="petName" maxlength="25" required>
        </div>

 		<!-- 2. 성별 -->
        <b>성별</b>
        <div class="login-insert-field-button gender">
		    <button class="login-insert-field-button-child gender-btn">남자</button>
		    <button class="login-insert-field-button-child gender-btn">여자</button>
		    <button class="login-insert-field-button-child gender-btn">선택안함</button>
			<input type="text" id="petGender" name="petGender" style="display: none;" value="">
		</div>


        <!-- 3. 생년월일 -->
        <div class="login-insert-field birth">
            <b>생년월일</b>
            <div>
                <input type="text" id="yearInput" placeholder="년(4자)" maxlength="4">                
                <select id="monthInput">
                    <option value="">월</option>
                    <option th:each="month : ${#numbers.sequence(1,12)}"
                    		th:value="${month}"
                    		th:text="|${month}월|"></option>
                </select>
                <input type="number" id="dayInput" placeholder="일" maxlength="2">
            </div>
            <input type="text" id="petBirth" name="petBirth" style="display: none;" value="">
        </div>

       
		<!-- 4. 몸무게 -->
        <div class="login-insert-field">
            <b>몸무게(kg)</b>
            <input type="text" id="petWeight" name="petWeight">
        </div>


		<!-- 4. 분류 -->
		<div class="login-insert-field birth">
            <b>분류(강)</b>
            <div>
                <select id="petClass" name="petClass">
                    <option value="-">분류</option>
                    <option value="포유류">포유류</option>
                    <option value="조류">조류</option>
                    <option value="파충류">파충류</option>
                    <option value="어류">어류</option>
                    <option value="양서류">양서류</option>
                </select>
                <input type="text" id="petSpecies" name="petSpecies" placeholder="종">           
                <input type="text" id="petBreed" name="petBreed" placeholder="품종">
            </div>
        </div>


		<!-- 5. 중성화 여부 -->
        <b>중성화 여부</b>
		<div class="login-insert-field-button">
			<button class="login-insert-field-button-child neuter-btn">있다</button>
		    <button class="login-insert-field-button-child neuter-btn">없다</button>
		    <input type="number" id="petNeuter" name="petNeuter" style="display: none;" value="">
		</div>
		
		
        <!-- 6. 수술 여부 -->
        <b>기타 수술 여부</b>
		<div class="login-insert-field-button">
			<button class="login-insert-field-button-child operation-btn">있다</button>
		    <button class="login-insert-field-button-child operation-btn">없다</button>
		    <input type="number" id="petOperation" name="petOperation" style="display: none;" value="">
		</div>
		
		
		<!-- 7. 복용중인 약 -->
        <b>복용중인 약 유무</b>
		<div class="login-insert-field-button">
			<button class="login-insert-field-button-child medicine-btn">있다</button>
		    <button class="login-insert-field-button-child medicine-btn">없다</button>
		</div>
		<div id="medicineDetails" style="display: none;">
		    <b>복용중인 약 상세정보</b>
		    <input type="text" id="petMedicine" name="petMedicine" placeholder="선택사항">
		</div>
		
		<!-- 8. 기타사항 -->
		<b>기타사항</b>
		<input type="text" id="petNote" name="petNote" placeholder="선택사항">            

        <!-- 9. 등록하기 버튼 -->
        <div class="login-insert-field">
        	<input type="button" value="반려동물등록" id="petInsertBtn">
		</div>
	</form>
        <!-- 7. 푸터 -->
        <div class="member-insert-form-footer">
            <div>
                <a href="#none">이용약관</a>
                <a href="#none">개인정보처리방침</a>
                <a href="#none">회원정보 고객센터</a>
            </div>
            <span><a href="#none">PALCorp.</a></span>
        </div>
    </div>
    
    <script th:src="@{/assets/js/jquery-3.7.1.js}"></script>
	<script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
	<script th:inline="javascript">
		
		/* Thymeleaf 내부에서 JavaScript 사용 */
	    document.addEventListener('DOMContentLoaded', function() {
	        const genderButtons = document.querySelectorAll('.gender-btn');
	        const petGenderInput = document.getElementById('petGender');
	        const petNeuterButtons = document.querySelectorAll('.neuter-btn');
	        const petNeuterInput = document.getElementById('petNeuter');
	        const petOperationButtons = document.querySelectorAll('.operation-btn');
	        const petOperationInput = document.getElementById('petOperation');
	        const petMedicineButtons = document.querySelectorAll('.medicine-btn');
	        const petMedicineInput = document.getElementById('petMedicine');
	        const medicineDetails = document.getElementById('medicineDetails');
	        
	        /* 성별 버튼 클릭 시 처리 */
	        genderButtons.forEach(function(button, index) {
	            button.addEventListener('click', function(event) {
	            	event.preventDefault(); // 폼 제출 기본 동작 막기
	                // 선택된 버튼에 active 클래스 추가
	                genderButtons.forEach(function(btn) {
	                    btn.classList.remove('active');
	                });
	            	
	                this.classList.add('active');
	                
	                var gender="";
	                
	                switch(index)
	                {
	                case 0:
	                	gender="남";
	                	break;
	                case 1:
	                	gender="여";
	                	break;
	                case 2:
	                	gender="선택안함"
	                	break;
	                default:
	                	break;
	                }
	                
	                petGenderInput.value = gender;
	            });
	        });
	        
	        /* 반려동물 중성화 유무 버튼 클릭 시 처리 */
	        petNeuterButtons.forEach(function(button, index) {
	            button.addEventListener('click', function(event) {
	            	event.preventDefault(); // 폼 제출 기본 동작 막기
	                // 선택된 버튼에 active 클래스 추가
	                petNeuterButtons.forEach(function(btn){
	                    btn.classList.remove('active');
	                });
	                this.classList.add('active');
	                
	                petNeuterInput.value = (index).toString();
	            });
	        });
	        
	        /* 반려동물 기타 수술 유무 버튼 클릭 시 처리 */
	        petOperationButtons.forEach(function(button, index) {
	            button.addEventListener('click', function(event) {
	            	event.preventDefault(); // 폼 제출 기본 동작 막기
	                // 선택된 버튼에 active 클래스 추가
	                petOperationButtons.forEach(function(btn){
	                    btn.classList.remove('active');
	                });
	                this.classList.add('active');
	                
	                petOperationInput.value = (index).toString();
	            });
	        });
	        
	        
	        
	        /* 반려동물 복용중인 약 유무 버튼 클릭 시 처리 */
	        petMedicineButtons.forEach(function(button, index) {
	            button.addEventListener('click', function(event) {
	            	event.preventDefault(); // 폼 제출 기본 동작 막기
	                // 선택된 버튼에 active 클래스 추가
	                petMedicineButtons.forEach(function(btn){
	                    btn.classList.remove('active');
	                });
	                this.classList.add('active');
	                
	             	// 복용중인 약 유무에 따라 상세 정보 input 창 보이기/감추기
	                if (index === 0) { // index 0은 "있다" 버튼
	                    medicineDetails.style.display = 'block';
	                    //petMedicineInput.value = ''; // 상세정보 초기화 혹은 필요에 따라 다른 처리
	                } else { // index 1은 "없다" 버튼
	                    medicineDetails.style.display = 'none';
	                    //petMedicineInput.value = ''; // 상세정보 초기화 혹은 필요에 따라 다른 처리
	                }
	            });
	        });
	    });
		
	    /* 반려동물 등록 */
		$('#petInsertBtn').click(function(){
			
			/* 생년월일 변환하여 input에 추가 */
			const yearInput = $('#yearInput').val().trim();
			const monthInput = $('#monthInput').val();
			const dayInput = $('#dayInput').val().trim();

	        if (yearInput.length > 4 || isNaN(yearInput)) {
	            alert('생년월일의 년도는 최대 4자리 숫자만 입력 가능합니다.');
	            return;
	        }
	        if (dayInput.length > 2 || isNaN(dayInput) || dayInput < 1 || dayInput > 31) {
	            alert('생년월일의 날짜는 최대 2자리 숫자이며, 1부터 31 사이의 숫자만 입력 가능합니다.');
	            return;
	        }

	     	// 생년월일 6자리로 변환 YYYYMMDD
	        const birthDate = yearInput.substr(2)+ monthInput.padStart(2,'0') + dayInput.padStart(2,'0');
	        
	        // 숨겨둔 input value에 넣기
	        $('#petBirth').val(birthDate);
	        
	        const idCheckResult = $('#idCheckResult');
	        const passwordMatchResult = $('#passwordMatchResult');
	        const confirmResult = $('#confirmResult');
	        isSubmit = true;
	        /* 인증확인 */
	
	        
			$('#insertPetForm input, select').each( (idx, element) => {
				const id = element.id;
				const value = element.value;
				if (!value && id !== 'petMedicine') {
			        if (element.text != null) {
			            alert(element.text);
			        } else {
			            alert('필수입력 항목입니다.');
			        }
			        $(element).focus();
			        isSubmit = false;
			        return false;
			    }
			});
			
			//회원정보를 담은 폼 전송
			if(isSubmit)
			{
				alert('반려동물등록이 완료되었습니다.');
				$('#insertPetForm').submit();
			}
		});
	    
		/*생년월일의 일의 자리 숫자는 앞에 0을 추가하는 함수*/
		 function pad(number, length)
		 {
	        const str = '' + number;
	        while (str.length < length)
	        {
	            str = '0' + str;
	        }
	        return str;
		  }
	</script>
</body>
</html>